h3{
    color: green;
    font-size: 30px;
    text-align: center;
}

.contenedor {
    border: 3px solid black;
    height: 800px;
    width: 90%;
    margin-left: 6%;
    overflow: hidden;
    margin-top: 25px;
    position: relative;
    background-color: darkgrey;
}

table {
    margin: auto;
    border: 5px solid purple;
}

table tr td {
    width: 200px;
    height: 200px;
    border: 6px solid green;
}
